*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 40px;
}
.page-content{  
    width: 953px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #015B3F;
    
}

header{
    height: 1200px;
    width: 953px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    
}

.image-header{
    width: 953px;
    max-height: 200px;
    
}

header h1{
    padding: 0px 40px 0px 40px;
}
header p{
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 40px;
    position: relative;
}

.trianguloretangulo{
    width: 400px;
    max-height: 200px;
}

.box1{
    max-height: 200px;
    display: flex;
    align-items: center;
    background-color: #015B3F;
    color: white;
}

.formula{
    width: 400px;
    max-height: 200px;
    display: flex;
    align-items: center;
}

.box2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
article{
    width: 953px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
}

.main{
    width: 873px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-hipotenusa{
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article h2{
    color: white;
    
    
}
#calculadora{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;

}

#calculadora .card-header{
    min-width: 500px;
}

#calculadora .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#calculadora #display{
    text-align: right;
    font-weight: bold;
    font-size: 30pt;
}

#calculadora button{
    margin: 5px;
    height: 60px;
    width: 100px;
    font-weight: bold;
    font-size: 16pt;
}



.collumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.page-content-autor{
    width: 953px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
}

.autor{
    width: 873px;
    display: flex;
    align-items: center;
    
    background-color: white;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text p{
    width: 400px;
}
.box3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.picture-pitagoras {
    width: 400px;
    max-height: 450px;
    border-radius: 50%;
}

footer{
    max-height: 400px;
    
   text-align: center;
    padding-top: 20px;
    background-color: #015B3F;
    color: white;
}
